#history {
    min-width: 160px;
    max-width: 200px;
}

.history-result {
    font-weight: bold;
    font-size: 1.1em;
}

.history-operations, .history-result {
    margin: 0;
    padding: 0;
    line-height: 0.7em;
}

.history-entry {
    text-align: right;
    background-color: darksalmon;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    border: solid 1px black;
}

#history > h3 {
    text-align: right;
    margin: 5px;
}