#keys {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}

#num-keys {
    width: 120px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

#operator-keys {
    display: flex;
    flex-direction: column-reverse;
}

.num-key, .decimal-key, .operator-key, .equal-key, .clear-key, .neg-key {
    width: 40px;
    border-radius: 37%;
}

.num-key {
    background-color: lightgreen;
}

.operator-key {
    background-color: burlywood;
}

.decimal-key {
    background-color: darkseagreen;
}

.clear-key {
    font-size: 1.7em;
    height: 43px;
    vertical-align: top;
    background-color: gold;
}

.equal-key {
    background-color: lightcoral;
}

.neg-key {
    background-color: lightpink;
    height: 43px;
}

.activeOperator {
    background-color: sienna;
    border: inset;
    border-color: burlywood;
    height: 43px;
}